<div class="row">
  <div class="col-md-12">
   
    <h3 style="z-index: 100; position: absolute; color: white; left: 350px; font-size: 26px;">
      Easily plan, organise and share you journeys!</h3>  
 
    <%= image_tag("panorama.jpg", :style => "width: 100%") %>
   
  </div>
</div>
<div class="row"
  <div class="col-md-12">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-users fa-3x"></i>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">People</h4>
          auche ein in etwas Neues, Pulsierendes und schnell Wachsendes! Wir freuen uns, wenn du schon bald Teil unseres emsigen Mooris
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-list-ol fa-3x"></i>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Todo</h4>
          auche ein in etwas Neues, Pulsierendes und schnell Wachsendes! Wir freuen uns, wenn du schon bald Teil unseres emsigen Mooris
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-calendar fa-3x"></i>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Plan</h4>
          auche ein in etwas Neues, Pulsierendes und schnell Wachsendes! Wir freuen uns, wenn du schon bald Teil unseres emsigen Mooris
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-globe fa-3x"></i>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Map</h4>
          auche ein in etwas Neues, Pulsierendes und schnell Wachsendes! Wir freuen uns, wenn du schon bald Teil unseres emsigen Mooris
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-file-text-o fa-3x"></i> 
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Documents</h4>
          auche ein in etwas Neues, Pulsierendes und schnell Wachsendes! Wir freuen uns, wenn du schon bald Teil unseres emsigen Mooris
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-dollar fa-3x"></i> 
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Costs</h4>
          auche ein in etwas Neues, Pulsierendes und schnell Wachsendes! Wir freuen uns, wenn du schon bald Teil unseres emsigen Mooris
        </div>
      </div>
   </div>
</div>
