<div class="row">
  <div class="col-md-12" class="bannera">
   
    <h3 class="banner">
      Plan, organise and share your journeys 
      <br><br>
      <a class="btn-default btn-lg">
      Sign up here
      </a> 
      <br>
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
      <div id="status"></div>
    </h3>  
 
    <%= image_tag("panorama.jpg", :style => "width: 100%") %>
   
  </div>
</div>
<br>
<div class="row">
  <h3 style= "text-align: center"> Plan, organise and share you journeys </h3>
</div>
<br>
<div class="row">
  <div class="col-md-6">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-users fa-2x"></i>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">People</h4>
          List everybody who is going to join the trip.
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-list-ol fa-2x"></i>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Todo</h4>
          See what needs to be done before departure, or create a shopping list.
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-calendar fa-2x"></i>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Plan</h4>
          Draft a plan of your journey, and set a date for each event.
        </div>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-globe fa-2x"></i>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Map</h4>
          See all the places you want to visit on the map.
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-file-text-o fa-2x"></i> 
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Documents</h4>
          Collect hotel reservations, flight confrimations and other necessary documents at one place.
        </div>
      </div>
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <i class="fa fa-dollar fa-2x"></i> 
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Costs</h4>
          Make estimation of the travel cost.
        </div>
      </div>
   </div>
</div>


