<h3>Trip to <%= @trip.title %></h3>
    <div class="row">
      <% @elems.each do |elem| %>
      <div class="col-xs-6 col-md-4" style="padding-left: 0px; padding-right: 0px; line-height:4em">
        <div style="width:100%; border: 0.2em solid black;  padding-top: 2em">
          <div style="display:table; margin:0 auto"><i class="fa <%= elem[:icon] %>  fa-5x"> </i> 
          <p><%= link_to elem[:name], elem[:url], {:style=>'color:black; font-family:"Verdana"', :class => "css_class"} %></p>
          </div>
          
        </div>
      </div>
     <% end %>
    </div>
  

