<!DOCTYPE html>
<html>
<head>
  <title>TravelApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href="path/to/todos.css" media="screen" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid" style="padding-left: 6em; padding-right: 6em">

<%= yield %>
</div>

</body>
</html>
